<section>
  <app-navbar></app-navbar>
  <main class="main bg-body-tertiary flex-grow-1 d-flex position-relative">
    <aside class="menu-main bg-body p-2 col-8 col-sm-5 col-md-3 col-xxl-2 shadow-sm" [ngClass]="{'menu-main-hide': !showMenu}"
      role="navigation" aria-label="Main navigation" [attr.aria-expanded]="showMenu ? 'true' : 'false'"
      aria-controls="menu-dashboard">
      <app-side-menu></app-side-menu>

      <button class="menu-toggle btn border-0 bg-body" type="button" (click)="showMenu = !showMenu"
        aria-controls="menu-main" [attr.aria-expanded]="showMenu ? 'true' : 'false'" aria-label="Toggle navigation">
        <i class="fa" [class]=" showMenu ? 'fa-chevron-left' : 'fa-bars' "></i>
      </button>
    </aside>

    <div id="menu-dashboard" class="menu-dashboard p-4 col-xxl-10">
      <router-outlet></router-outlet> 
    </div>
  </main>
</section>
