.accordion-button:focus,
.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.list-group-item:hover {
  transition: background-color 0.3s ease;
  background-color: #f0f0f0;
}

.accordion-button:hover {
  transition: background-color 0.3s ease;
  background-color: #e9ecef;
}

.accordion-button {
  transition: background-color 0.3s ease;
  
}

.no-select {
  cursor: pointer;
  user-select: none;
}
